@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Models
@{this.SetPageTitle("Stack Exchange Data Explorer");}
<div id="mainbar-full">
    <ul class="site-list">
        @foreach (Site site in Model)
        {
            <li>
                <div class="siteName">
                    <a href="@site.TinyName.ToLower()/queries">
                        <img src="@site.ImageUrl" alt="@site.LongName" class="site" style="@site.ImageCss" />
                    </a>
                    <p class="tagline">@site.Tagline</p>
                </div>
                <div class="totalQuestions">
                    @Html.Raw(site.TotalQuestions.PrettyShort())
                    <span class="desc">questions </span>
                </div>
                <div class="totalAnswers">
                    @Html.Raw(site.TotalAnswers.PrettyShort())
                    <span class="desc">answers </span>
                </div>
                <div class="totalComments">
                    @Html.Raw(site.TotalComments.PrettyShort())
                    <span class="desc">comments </span>
                </div>
                <div class="totalTags">
                    @Html.Raw(site.TotalTags.PrettyShort())
                    <span class="desc">tags </span>
                </div>
                <div class="latestPost">
                    <span class="title">
                        @site.LastPost.ToRelativeTimeSpanMicro()
                    </span>
                    <span class="desc">most recent </span>
                </div>
                <div class="latestPost">
                    <span class="title">&nbsp;</span>
                    <span class="desc">
                        <a href="@site.Url">visit site</a>
                    </span>
                </div>
                <div class="clear"></div>
            </li>
        }
    </ul>
</div>
