@model IEnumerable<SubHeaderViewData>
@using StackExchange.DataExplorer.ViewModel

<nav class="primary">
    <div class="nav">
        <ul>
            @foreach (SubHeaderViewData item in Model.Where(i=>!i.RightAlign))
            {
                <li>
                    <a id="@item.Id" class="@(item.Selected ? "youarehere" : null)" href="@item.Href" title="@item.Title">@item.Description</a>
                </li>                
            }
        </ul>
    </div>
    <div style="float:right;" class="nav">
        <ul>
            @foreach (SubHeaderViewData item in Model.Where(i=>i.RightAlign))
            {
                <li style="margin-right:0px;">
                    <a id="@item.Id" class="@(item.Selected ? "youarehere" : null)" href="@item.Href" title="@item.Title">@item.Description</a>
                </li>
            }
        </ul>
    </div>
</nav>