@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Helpers
@using StackExchange.DataExplorer.Models
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

@section AdditionalStyles
{
    @Html.Raw(AssetPackager.LinkCss("query"))
}

<div id="query-metadata">
    <div class="info">
        @RenderSection("Metadata")
    </div>
    @Html.Partial("AboutSite")
</div>
<div class="clear"></div>
<div id="query">
    <form id="runQueryForm" action="/query/@Current.Controller.Site.Id" method='post'>
        @RenderBody()
        <div id="query-params">
            <h3>Enter Parameters</h3>
        </div>
        <div id="query-options">
            <button id="submit-query" type="submit">Run Query</button>
            <span class="options">
                Include:
                <input type="checkbox" id="resultsToText" name="resultsToText" value="true" /><label for="resultsToText" title="Return results in text format">Text results</label>
                <input type="checkbox" id="showExecutionPlan" name="showExecutionPlan" value="true" /><label for="showExecutionPlan" title="Include the execution plan for this query in the results">Execution plan</label>
            @if (AppSettings.AllowRunOnAllDbsOption)
            {
                <input type="checkbox" id="allDbs" name="allDbs" value="true" /><label for="allDbs" title="Execute this query on all sites at once">Mutli-site</label>
                <input type="checkbox" id="excludeMetas" name="excludeMetas" value="true" /><label for="excludeMetas" title="Exclude meta sites from the sites this query is executed against">Exclude metas</label>
            }
            </span>
        </div>
    @if (Current.User.IsAnonymous)
    {
        @Html.Partial("Captcha", Current.NewRecaptchControl())
    }
        <div id="toolbar">
            <ul class="options links">
                @RenderSection("ToolbarOptions", required: false)
                <li>
                    <a id="permalink" href="#">permalink to this query</a>
                </li>
                <li>
                    <a id="downloadCsv" href="#" title="download results as CSV">download results</a>
                </li>
                <li>
                    <a id="downloadPlan" href="#" title="download execution plan as XML">download execution plan</a>
                </li>
            </ul>
            <ul class="options sites">
            @foreach (Site site in (IEnumerable<Site>)ViewData["Sites"])
            {
                if (site.Id == Current.Controller.Site.Id)
                {
                    continue;
                }
                <li>
                    <a class="site" href="/@site.Name.ToLower()/q//" title="View results on @site.LongName">
                        <img src="@site.IconUrl" alt="@site.LongName" width="16" height="16" />
                    </a>
                </li>
            }
            </span>
        </div>
    </form>
    <div class="ui-state-error ui-corner-all" id="query-errors">
        <span style="float:left; margin-right:0.3em;" class="ui-icon ui-icon-alert"></span>
        <strong>Error:</strong> <span id="queryError"> </span>
    </div>
    <div id="loading">
        <img src="http://sstatic.net/img/progress-dots.gif" alt="loading" />Hold tight while we fetch your results
    </div>
    <div id="queryResults" style="display:none;">
        <div id="resultTabs" class="subheader">
            <div class="miniTabs">
                <a id="resultsTabButton" href="#grid" class="youarehere">Results</a>
                <a id="messagesTabButton" href="#messages">Messages</a>
                <a id="planTabButton" href="#executionPlan" onclick="QP.drawLines();">Execution Plan</a>
            </div>
        </div>
        <div id="grid"></div>
        <div id="messages">
            <pre><code></code></pre>
        </div>
        <div id="executionPlan"></div>
        <div id="gridStats" class="ui-widget-header">
            <span class="duration"></span>
            <span class="rows"></span>
            <div class="clear"></div>
        </div>
    </div>
</div>
@Html.Raw(AssetPackager.ScriptSrc("jquery.validate"))
@Html.Raw(AssetPackager.ScriptSrc("query"))