@model StackExchange.DataExplorer.Models.User
@using StackExchange.DataExplorer.Helpers

<div class="user">
    <div style="float: left; margin-right: 10px;">
        <a class="user-gravatar" href="/users/@Model.Id">@Html.Raw(Model.Gravatar(64))</a>
    </div>
    <div class="user-details">
        <a href="/users/@Model.Id">@Model.Login</a>
        <br/><br/>
        Created @Model.CreationDate.GetValueOrDefault().ToString("d")
        <br/><br/>
        @Model.SavedQueriesCount saved queries, @Model.QueryExecutionsCount executions
    </div>
    
    @*<div class="user-gravatar">
        <a href="/users/@Model.Id">@Html.Raw(Model.Gravatar(32))</a></div>
    <div class="user-details">
        <a href="/users/@Model.Id">@Model.Login</a></div>*@
</div>
<br class="clear"/>