@model StackExchange.DataExplorer.Models.User
@using StackExchange.DataExplorer.Helpers

<div class="user">
    <div style="float: left; margin-right: 10px;">
        <a class="user-gravatar" href="/users/@Model.Id">@Html.Raw(Model.Gravatar(64))</a>
    </div>
    <div style="clear:both"></div>
    <div class="user-summary-details">
        <div class="user-login">
            <a href="/users/@Model.Id">@Model.Login</a>
        </div>
        <div class="user-created">
            Created @Model.CreationDate.GetValueOrDefault().ToString("d")
        </div>
        <div class="user-saved-queries">
            @Model.SavedQueriesCount saved queries, @Model.QueryExecutionsCount executions
        </div>
    </div>
</div>
<br class="clear"/>