@model StackExchange.DataExplorer.Models.Site
@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Helpers
@using StackExchange.DataExplorer.Models
@{
    Layout = "~/Views/Shared/Query.cshtml";
    this.SetPageTitle("Query " + Current.Controller.Site.LongName + " - Stack Exchange Data Explorer");

    var revision = ViewData["revision"] as Revision;
    string sql = null, name = null, description = null;
    
    if (revision != null)
    {
        sql = revision.Query.QueryBody;
        name = revision.Metadata.Title;
        description = revision.Metadata.Description;
    }

    sql = Html.Encode(sql);
}

@section Metadata
{
    <h2><input type="text" id="title" name="title" value="@name" size="40" placeholder="Enter a title for your query" /></h2>
}

<div class="left-group compact">
    <div id="wrapper">
        <textarea id="sql" name="sql" rows="18">@Html.Raw(sql)</textarea>
    </div>
    <ul id="editor-toolbar" class="linkbar">
        <li id="permalink" class="result-option"><a class="templated" href="#">permalink</a></li>
        <li id="schema-toggle">hide schema ►</li>
    </ul>
</div>
<ul id="schema">
@foreach (TableInfo table in (IEnumerable<TableInfo>)ViewData["Tables"])
{
    <li>
        <span class="schema-table">@table.Name</span>
        <dl>
        @for (int i = 0; i < table.ColumnNames.Count; i++)
        {
            <dt>@table.ColumnNames[i]</dt>
            <dd class="cm-variable-2">@table.DataTypes[i]</dd>
        }
        </dl>
    </li>
}
</ul>
<div class="clear"></div>