@model QuerySetViewModel
@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Models
@using StackExchange.DataExplorer.ViewModel
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/Query.cshtml";
    this.SetPageTitle("Query " + Current.Controller.Site.LongName + " - Stack Exchange Data Explorer");

    var revision = Model != null ?  Model.CurrentRevision : null;
    
    string sql = null, name = null, description = null;
    
    if (revision != null)
    {
        sql = revision.Query.QueryBody;
        name = revision.QuerySet.Title;
        description = revision.QuerySet.Description;
    }

    sql = Html.Encode(sql);
}

@section Metadata
{
    <h2><input type="text" id="title" name="title" value="@name" size="40" placeholder="Enter a title for your query" maxlength="100" /></h2>
    <p id="query-description-text">@(Model != null && Model.QuerySet != null ? Model.QuerySet.Description : "")</p>
    <a id="edit-query-description" href="#">edit description</a>
    <textarea style="display:none" name="description" id="query-description" placeholder='enter a description'>@(Model != null && Model.QuerySet != null ? Model.QuerySet.Description : "")</textarea>
    
    <script>
        $(function () {
            $("#edit-query-description").click(function () {
                $("#edit-query-description").hide();
                $("#query-description-text").hide();
                $("#query-description").show();
                return false;
            });
        });
    </script>
}

<div id="editor">
    <div id="editor-panel" class="left-group compact">
        <textarea id="sql" name="sql" rows="26">@Html.Raw(sql)</textarea>
    </div>
    <div id="schema" class="right-group">
        <span class="heading">Database Schema
            <span class="buttons">
                <span class="button-group">
                    <i class="icon-sort-by-alphabet button sort" title="sort alphabetically"></i>
                </span>
                <span class="button-group">
                    <i class="icon-plus button expand" title="expand all tables"></i>
                    <i class="icon-minus button collapse" title="collapse all tables"></i>
                </span>
            </span>
        </span>
        <ul>
        @{ var n = 0; }
        @foreach (TableInfo table in (IEnumerable<TableInfo>)ViewData["Tables"])
        {
            <li data-order="@(n++)">
                <span class="schema-table">@table.Name</span>
                <dl>
                @for (int i = 0; i < table.ColumnNames.Count; i++)
                {
                    <dt data-order="@i">@table.ColumnNames[i]</dt>
                    <dd class="cm-variable-2">@table.DataTypes[i]</dd>
                }
                </dl>
            </li>
        }
        </ul>
    </div>
    @Html.Partial("RevisionHistory", Model)
</div>
<ul id="editor-toolbar" class="linkbar compact">
    <li id="permalink" class="result-option"><a class="templated" href="/:site/query/:id:slug:params">permalink</a></li>
    <li id="schema-toggle">hide sidebar</li>
</ul>
@Scripts.Render("~/assets/js/editor")
<script>
    DataExplorer.TableHelpers.init(@Html.Raw(ViewData["HelperTables"] as string));
</script>